@import 'normalize';

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Dosis', sans-serif;
  animation: fadeIn 1s linear;
}

h1,h2,h3,h4 {
  font-family: 'BioRhyme', serif;
}

a {
  text-decoration: none;
  color: #f9690e;

  &:visited {
    color: darken(#f9690e, 5%);
  }
}

@import
'header',
'content',
'selected';