@import 'normalize';

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

* {
  box-sizing: border-box;
}

body {
  background: #d2d7d3;
  font-family: 'Oxygen', sans-serif;
  animation: fadeIn 1s linear;
}

h1,h2,h3,h4 {
  font-family: 'BioRhyme', serif;
}

a {
  text-decoration: none;
  color: #f9690e;

  &:visited {
    color: darken(#f9690e, 5%);
  }
}

.selected {
  position: relative;

  &:after {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 102%;
    height: 112%;
    background: #f9690e;
    z-index: -1;
    transform: rotate(-2deg);
    box-shadow: 1px 3px 0 0 rgba(0, 0, 0, 0.65);
    content: "";
  }
}

header {
  height: 100vh;

  figure {
    margin: 0;
  }

  img {
    height: 85vh;
    margin: 0;
    padding: 0;
    object-fit: cover;

    @media (min-width: 600px) {
      float: left;
      height: 100vh;
      width: 49vw;
    }
  }

  @media (min-width: 600px) {
    .intro {
      float: right;
      width: 49vw;
      height: 100vh;
      padding: 2vh 3vw;
      display: flex;

      .inner {
        margin: auto;
      }
    }
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}

article {
  margin: 3rem auto;
  max-width: 80vw;
}

.further-introduction {
  padding-top: 1rem;
  border-top: 1px solid #9da09e;

  h1 {
    margin: 0;
    color: #fff;
    text-shadow: 5px 3px 1px #f9690e;
  }

  p {
    font-size: 1rem;
    line-height: 1.2;
  }
}

.technique {
  float: left;
  width: 33.3%;
}