@import 'normalize';

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Dosis', sans-serif;
  animation: fadeIn 1s linear;
}

h1,h2,h3,h4 {
  font-family: 'BioRhyme', serif;
}

a {
  position: relative;
  text-decoration: none;
  color: #000;
  transition: color .2s ease-in-out;

  &:hover {
    color: #e85d06;
  }

  &:after, &:before {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: .5;
    border-bottom: 5px solid #f9690e;
    transform: skew(0deg, -1deg);
    content: "";
  }

  &:after {
    border-color: rgba(#000, .5);
    border-width: 2px;
    bottom: 1px;
    transform: skew(0deg, 0deg);
  }
}

@import
'header',
'content',
'selected';